.container-fluid{
  position: relative;
  background-color: #3D0029;
  width: 100%;
  height: 140px;
  top: 2000px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 1246px) {
  .container-fluid {
    position: relative;
    top: 2600px;
  }
}

@media (max-width: 987px) {
  .container-fluid {
    position: relative;
    top: 3600px;
  }
}


.container-fluid h1{
  color: white;
  font-size: 12px;
  margin: 20px;
}
