
<div class="container-fluid">
<div class="elemento">
  <h1>diseñado por Walter Guerrero 2024 ©</h1>
  <div>
    <img id="github" (click)="redireccionar('https://github.com/walysion?tab=repositories')" class="elementodentro" src="/assets/github.png" alt="imagen github">
    <img id="linke" (click)="redireccionar('https://www.linkedin.com/in/walter-guerrero-ayala-9baa6b200/')" class="elementodentro" src="/assets/linke.png" alt="imagen linke">
    <img id="wsp" (click)="redireccionar('https://api.whatsapp.com/send?phone=56971463095')" class="elementodentro" src="/assets/whatsapp.png" alt="imagen wsp">
  </div>
</div>


</div>
