

<div class="container-fluid">



  <div style="position: relative; margin-top: 500px;" class="item">
    <div style="display: flex;width: 100%; justify-content: center;" class="">
      <h1 style="color: white;">Skills Front-End</h1>
    </div>
   <div class="elemento"><img class="elemento" src="/assets/html-5.png" alt=""></div>
   <div class="elemento"><img class="elemento" src="/assets/css-3.png" alt=""></div>
   <div class="elemento"><img class="elemento" src="/assets/js.png" alt=""></div>
   <div class="elemento"><img class="elemento" src="/assets/Typescript_logo_2020.svg.png" alt=""></div>
   <div class="elemento"><img class="elemento" src="/assets/Angular_full_color_logo.svg.png" alt=""></div>

  </div>

  <div style="position: relative; margin-top: 200px; margin-bottom: 300px;" class="item">
    <div style="display: flex;width: 100%; justify-content: center;" class="">
      <h1 style="color: white;"> Skill Diseño UI y UX</h1>
    </div>
    <div class="elemento"><img class="elemento" src="/assets/photoshop.png" alt=""></div>
    <div class="elemento"><img class="elemento" src="/assets/ilustrador.png" alt=""></div>
    <div class="elemento"><img class="elemento" src="/assets/indesign.png" alt=""></div>
    <div class="elemento"><img class="elemento" src="/assets/despues-de-los-efectos.png" alt=""></div>


   </div>


</div>
