

<div class="container-fluid">

  <div class="titulo">
    <h1>Conocimientos</h1>
  </div>

  <div class="item">
   <div class="elemento"><img class="elemento" src="/assets/html-5.png" alt=""></div>
   <div class="elemento"><img class="elemento" src="/assets/css-3.png" alt=""></div>
   <div class="elemento"><img class="elemento" src="/assets/js.png" alt=""></div>
   <div class="elemento"><img class="elemento" src="/assets/Typescript_logo_2020.svg.png" alt=""></div>
   <div class="elemento"><img class="elemento" src="/assets/Angular_full_color_logo.svg.png" alt=""></div>

  </div>


</div>
