

<div class="container-fluid">

  <h1>Portfolio</h1>

  <div class="container-trabajos">


    <div class="elemento-uno">

   <div class="imagen">
   <img src="/assets/estampcolor.png" alt="">
   </div>
   <div class="texto-proyecto">
    <p>Se ha diseñado un logo para EstampColor, una empresa dedicada a la creación de contenido de diseños digitales y estampados en camisetas. Este logo enfatiza nuestra especialidad en diseño digital y estampado de prendas.</p>
   </div>
  </div>

  <div class="elemento-uno">

    <div class="imagen">
    <img src="/assets/facturapida.png" alt="">
    </div>
    <div class="texto-proyecto">
      <p>Se ha creado un logo para FacturaRápida, una empresa especializada en el ámbito de la facturación y la contabilidad. Este logo destaca mediante una fuente moderna que refleja la innovación en tecnologías de facturación, manteniendo al mismo tiempo un sentido de confiabilidad. La paleta de colores utilizada transmite confianza y profesionalismo.</p>
    </div>
   </div>

   <div class="elemento-uno">

    <div class="imagen">
    <img src="/assets/rocktech.png" alt="">
    </div>
    <div class="texto-proyecto">
      <p>He llevado a cabo la implementación de un sitio web para una empresa en la que trabajé, la cual ofrece servicios de ingeniería en soluciones de seguridad. Mi enfoque principal fue renovar el diseño del sitio para lograr un impacto visual mejorado en la interfaz de usuario (UI) para los clientes. Para lograr este objetivo, utilicé varias tecnologías, incluyendo HTML, CSS, JavaScript, jQuery, Bootstrap y Particle.js <a  target="_blank" href="https://rocktechla.com/">Rocktech</a> <p>
    </div>
   </div>


   <div class="elemento-uno">

    <div class="imagen">
    <img src="/assets/INNOVA.png" alt="">
    </div>
    <div class="texto-proyecto">
      <p>Este proyecto se desarrolló como un prototipo para una empresa que ofrecerá servicios como startup de desarrollo web y desarrollo de sistemas, con un fuerte énfasis en la creación de sistemas y sitios web innovadores. El objetivo es posicionarse en el mercado mediante soluciones creativas y amigables que generen un impacto significativo. <p>
    </div>
   </div>




</div>



