

<div class="container-fluid">

  <div class="titulo">
    <h1>PortFolio</h1>
  </div>

  <div class="item">
   <div class="elemento"><img class="elemento-img" src="/assets/estampcolor.png" alt="">
   <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="titular">
    <h1>EstampColor</h1>
    <p>Diseño Web - Oficial</p>
   </div>
  </div>

  <div class="item">
    <div class="elemento"><img class="elemento-img" src="/assets/INNOVA.png" alt="">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="titular">
     <h1>Innova</h1>
     <p>Diseño Web - Oficial</p>
    </div>
   </div>




   <div class="item">
    <div class="elemento"><img class="elemento-img" src="/assets/rocktech.png" alt="">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="titular">
     <h1>RT</h1>
     <p>Implementacion de Web</p>
    </div>
   </div>
  </div>



</div>

<div style="position: relative; top: 100px;" class="container-fluid fluid-dos">

  <div class="item">
   <div class="elemento"><img class="elemento-img" src="/assets/estampcolor.png" alt="">
   <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="titular">
    <h1>EstampColor</h1>
    <p>Diseño Web - Oficial</p>
   </div>
  </div>

  <div class="item">
    <div class="elemento"><img class="elemento-img" src="/assets/INNOVA.png" alt="">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="titular">
     <h1>Innova</h1>
     <p>Diseño Web - Oficial</p>
    </div>
   </div>




   <div class="item">
    <div class="elemento"><img class="elemento-img" src="/assets/rocktech.png" alt="">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="titular">
     <h1>RT</h1>
     <p>Implementacion de Web</p>
    </div>
   </div>
  </div>



</div>


