

<div class="container-fluid">

  <div class="titulo">
    <h1>PortFolio</h1>
  </div>

  <div class="item">
   <div class="elemento"><img class="elemento-img" src="/assets/html-5.png" alt="">
   <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="titular">
    <h1>EstampColor</h1>
    <p>Diseño Web - Oficial</p>
   </div>
  </div>



   <div class="elemento"><!-- <img class="elemento" src="" alt=""> --></div>
   <div class="elemento"><!-- <img class="elemento" src="" alt=""> --></div>
   <div class="elemento"><!-- <img class="elemento" src="" alt=""> --></div>
   <div class="elemento"><!-- <img class="elemento" src="" alt=""> --></div>
   <div class="elemento"><!-- <img class="elemento" src="" alt=""> --></div>

  </div>


</div>
