

.container-fluid{
  max-width: 100%;
  max-height: 700px;
  position: relative;
  top: 400px;
}

.item img {
  max-width: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent, black);
  mask-image: linear-gradient(to top, transparent, black);
}


 .item img {
  max-width: 100%;
  position: relative;
}

