<div class="container-fluid">

<div class="item">
<h1 style="color: white; display: flex; justify-content: center;">Sobre Mi</h1>
<p style="display: flex; padding-left: 100px; padding-right: 100px;top: 100px;position: relative;color: rgb(151, 151, 151);">


  ¡Hola! Soy Walter Guerrero Ayala, un apasionado del diseño digital, el desarrollo web y la programación en general. Me encanta crear proyectos que fusionen el diseño y la arquitectura digital con tecnologías innovadoras. Actualmente, me encuentro inmerso en un constante proceso de aprendizaje, siempre buscando nuevas formas de aplicar las últimas tecnologías de manera efectiva y con un enfoque futurista, sin perder de vista la importancia de la simplicidad. Me inspira la música mientras programo, ya que siento que me sumerge en un estado de flujo donde el tiempo parece desaparecer. Además de obtener mi título en Programación y Análisis de Sistemas, estoy persiguiendo mi carrera en Ingeniería de Ejecución en Informática. Estoy emocionado por seguir creciendo profesionalmente y explorando nuevas oportunidades laborales. ¡Gracias por visitar mi portafolio!</p>
<img style="z-index: -1;" src="/assets/tianyi-ma-WiONHd_zYI4-unsplash.jpg" alt="">


</div>


</div>




