

.navbar-nav {
  padding: 20px;
  margin: 0;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;
  align-items: center;
  background-color: black;
  border-radius: 10px;

}

@media(max-width:980px){

.navbar-nav{
  background-color:#2CD4EB;
}

}






.navbar-nav a {
  color: white;
  display: flex;
  z-index: 2;
  margin-top: 20px;
  transition: color 0.3s ease; /* Transición suave para el color */
  display: flex;
  justify-content: center;
}

.navbar-nav a:hover {
  color: #ffc107; /* Cambio de color al hacer hover */
}

.container-fluid {

  background-color: #000000 !important;
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  animation: fadeIn 1s ease; /* Animación de aparición al cargar la página */

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




.nav-link{
  width: 100px;
  padding: 10px;
  padding-top: 40px;
}
