

  <nav style="height: 0;" class="navbar navbar-expand-lg bg-body-tertiary">
    <div style="background-color: black" class="container-fluid">
      <a style="color: white; background-color: transparent; " class="fuenteicono navbar-brand nav-link navbar-nav" href="#">Walter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span><img style="width: 30px;" src="/assets/bar-de-hamburguesas1.png" alt=""></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Sobre Mi</a>
          <a class="nav-link" href="#">Skills</a>
          <a class="nav-link" href="#">Contacto</a>
        </div>
      </div>
    </div>
  </nav>



