<div class="container-fluid">


  <img class="universo" src="/assets/fondo1.png" alt="">


  <div class="item">

  <div style="display: flex; justify-content: end; align-items: center;" class="elemento">

       <img id="fotowalter" src="/assets/walter.png" alt="">

  </div>

  <div class="elemento">

    <h1>Hola! soy</h1>
    <h1 style="background-color: rgb(61, 0, 41); border-radius: 10px; width: 360px; padding-left: 10px;">Walter Guerrero</h1>
    <h3>Desarrollador FullStack</h3>
    <div class="iconos">
      <img id="github" (click)="redireccionar('https://github.com/walysion?tab=repositories')" style="width: 40px; height: 40px; margin-right: 18px;" src="/assets/github.png" alt="">
      <img id="linke" (click)="redireccionar('https://www.linkedin.com/in/walter-guerrero-ayala-9baa6b200/')" style="width: 40px; height: 40px; margin-right: 18px;" src="/assets/linke.png" alt="">
      <img id="wsp" (click)="redireccionar('https://api.whatsapp.com/send?phone=56971463095')" style="width: 40px; height: 40px; margin-right: 18px;" src="/assets/whatsapp.png" alt="">

    </div>

  </div>


  </div>


</div>






<!-- <div class="fotoWalter">
  <img class="imagenWalter" src="assets/walter.png" alt="Mi imagen">
</div>
<div class="container-fluid">
  <div class="item">
    <h1 style="display: flex;justify-content: center;">Hola! soy</h1>
    <h1 style="display: flex;justify-content: center;">Walter Guerrero</h1>
    <h3 style="display: flex;justify-content: center;">Desarrollador Front-End</h3>
  </div>
</div>
 -->
