<div class="container-fluid">
  <img class="universo" src="/assets/fondo1.png" alt="">


  <div class="item">

  <div style="display: flex; justify-content: end; padding-right: 50px; align-items: center;" class="elemento">

       <img src="/assets/walter.png" alt="">

  </div>

  <div class="elemento">

    <h1>Hola! soy</h1>
    <h1>Walter Guerrero</h1>
    <h3>Desarrollador FullStack</h3>

  </div>


  </div>


</div>






<!-- <div class="fotoWalter">
  <img class="imagenWalter" src="assets/walter.png" alt="Mi imagen">
</div>
<div class="container-fluid">
  <div class="item">
    <h1 style="display: flex;justify-content: center;">Hola! soy</h1>
    <h1 style="display: flex;justify-content: center;">Walter Guerrero</h1>
    <h3 style="display: flex;justify-content: center;">Desarrollador Front-End</h3>
  </div>
</div>
 -->
