
.container-fluid{
width: 100%;
height: 400px;
top: 100px;
position: relative;
display: flex;
justify-content: center;
align-items: center;


}


.item{

  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}



.elemento img{
  width: 300px;
  height: 380px;

}







.elemento{

color: white;
margin: 15px;



}


.universo {
  top:20px;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(0.3); /* Cambia el valor para ajustar la oscuridad (0 = completamente negro, 1 = normal) */
}




.iconos{
  position: relative;
  top:20px;
  background-color: rgb(44, 212, 235);
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  align-items: center;
  padding: 10px;



}


.iconos img {
  transition: transform 0.3s ease;
  cursor: pointer; /* Cambia el cursor al de una mano */
}

.iconos img:hover {
  transform: scale(1.1); /* Ajusta el nivel de agrandamiento aquí */
}


/* .fotoWalter{
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;



}

.imagenWalter{

  width: 300px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}


.container-fluid{
  width: 100%;
  display: flex;

  justify-content: center;


}



.item{
color: white;
display: flex;
justify-content: center;
flex-direction: column;

}
 */


